<section>
  <div class="card">
      <div style="position:relative">
          <div class="name">RadhaKrishna</div>
          <div class="heart-symbol"> &#10084;</div>
          <div class="name">Rashni</div>
      </div>
  </div>

  <div class="timer">
      <div class="time">
          <div>{{data.days}}</div>
          <div class="type">DAYS</div>
      </div>

      <div class="time">
          <div>{{data.hours}}</div>
          <div class="type">HOURS</div>
      </div>

      <div class="time">
          <div>{{data.minutes}}</div>
          <div class="type">MINUTES</div>
      </div>

      <div class="time">
          <div>{{data.seconds}}</div>
          <div class="type">SECONDS</div>
      </div>
  </div>

  <div class="card-bottom">
      <h2 class="title">We are getting hitched!!</h2>
      <h1 class="sub-title">
          Glad to invite you to our Wedding Reception</h1>
      <p>
          on Monday, December 19, 2022, 10:00 AM onwards
      </p>
      <p>
          Derebail Church Hall, Derebail, Mangalore
      </p>

      <div class="actions">
          <a href="https://goo.gl/maps/bxvLV6XvbAiqCnsP6" target="_blank">
            <div class="venue">RECEPTION VENUE</div>
          </a>
        </div>

      <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h3 class="animate-charcter"> Can't wait to celebrate auspicious moment of our family with you!!</h3>
          </div>
          </div>
        </div>

  </div> 
  <div class="card-footer">
      Developed by <span class="brand">@Rashni </span> </div>

  <div style="height: 1rem;"></div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
  <script src='https://cdn.jsdelivr.net/gh/timoschaefer/jQuery-Sakura/jquery-sakura.min.js'></script>
  <script  src="./js/script.js"></script>
</section>